<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.RoleMapper">

  <sql id="col">
    id,name,seq,create_id
  </sql>

  <select id="findAll" resultType="RoleVo">
    SELECT
    <include refid="col"/>
    FROM
    role
  </select>

  <select id="findByUserId" parameterType="Long" resultType="RoleVo">
    SELECT
    r.id,
    r.NAME,
    r.seq,
    r.create_id
    FROM
    role r
    INNER JOIN USER u ON r.create_id = u.id
    WHERE
    u.id =#{id}
  </select>

</mapper>