<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.RoleRoute2Mapper">

  <sql id="col">
    id,role_id,route2_id
  </sql>

  <insert id="insertList" parameterType="RoleRoute2Vo">
    INSERT role_route2 (
    <include refid="col"/>
    )
    VALUES
    <foreach collection="roleRoute2s" separator="," item="item">
      (#{item.id},#{item.roleId},#{item.route2Id})
    </foreach>
  </insert>

  <delete id="deleteByRoute2IdList" parameterType="Long">
    DELETE
    FROM
    role_route2
    WHERE
    route2_id IN
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </delete>

</mapper>