<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.Route2NotInterceptMapper">

  <sql id="col">
    id,path,name,seq,component,redirect,meta
  </sql>

  <insert id="insert" parameterType="Route2NotInterceptVo">
    INSERT route2_not_intercept (
    <include refid="col"/>
    )
    VALUES
    (
    #{id},#{path},#{name},#{seq},#{component},#{redirect},#{meta}
    )
  </insert>

  <delete id="delete" parameterType="Long">
    DELETE
    FROM
    route2_not_intercept
    WHERE
    id =#{id}
  </delete>

  <update id="update" parameterType="Route2NotInterceptVo">
    UPDATE route2_not_intercept
    <set>
      <if test="path != null">
        path=#{path},
      </if>
      <if test="name != null">
        name=#{name},
      </if>
      <if test="seq != null">
        seq=#{seq},
      </if>
      <if test="component != null">
        component=#{component},
      </if>
      <if test="redirect != null">
        redirect=#{redirect},
      </if>
      <if test="meta != null">
        meta=#{meta},
      </if>
    </set>
    WHERE
    id=#{id}
  </update>

  <select id="findAll" resultType="Route2NotInterceptVo">
    SELECT
    id,
    path,
    name,
    seq,
    component,
    redirect,
    meta
    FROM
    route2_not_intercept
    ORDER BY
    seq
  </select>

</mapper>