<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.RoleRouteMapper">

  <sql id="col">
    id,role_id,route_id
  </sql>

  <!-- 批量插入 -->
  <insert id="batchInsert" parameterType="RoleRouteVo">
    INSERT
    role_route(
    <include refid="col"/>
    )VALUES
    <foreach collection="list" separator="," item="item">
      (#{item.id},#{item.roleId},#{item.routeId})
    </foreach>
  </insert>

  <!-- 删除，通过routeId -->
  <delete id="deleteByRouteId" parameterType="Long">
    DELETE
    FROM
    role_route
    WHERE
    route_id = #{routeId}
  </delete>

  <!-- 删除，通过routeId列表 -->
  <delete id="deleteByRouteIdList" parameterType="Long">
    DELETE
    FROM
    role_route
    WHERE
    route_id IN
    <foreach collection="routeIdList" open="(" close=")" separator="," item="routeId">
      #{routeId}
    </foreach>
  </delete>

  <!-- 删除，通过roleId -->
  <delete id="deleteByRoleId" parameterType="Long">
    DELETE
    FROM
    role_route
    WHERE
    role_id = #{roleId}
  </delete>

</mapper>
