<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">

  <sql id="col">
    id,account,pwd,name,create_id
  </sql>

  <insert id="insert" parameterType="UserVo">
    INSERT
    user(
    <include refid="col"/>
    )VALUES(
    #{id},#{account},#{pwd},#{name},#{createId}
    )
  </insert>

  <update id="update" parameterType="UserVo">
    UPDATE
    user
    <set>
      <if test="account != null">
        account = #{account},
      </if>
      <if test="pwd != null">
        pwd = #{pwd},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
    </set>
    WHERE
    id = #{id}
  </update>

  <select id="existUniqueKey" parameterType="UserVo" resultType="Boolean">
    SELECT
    IFNULL((SELECT true FROM user WHERE
    <if test="id != null">
      id = #{id}
    </if>
    <if test="account != null">
      account = #{account}
    </if>
    ),false)
  </select>

  <select id="findByUniqueKey" parameterType="UserVo" resultType="UserVo">
    SELECT
    <include refid="col"/>
    FROM
    user
    WHERE
    <if test="id != null">
      id = #{id}
    </if>
    <if test="account != null">
      account = #{account}
    </if>
  </select>

  <select id="findIdByRoleId" parameterType="Long" resultType="Long">
    SELECT
    u.id
    FROM
    USER u
    INNER JOIN user_role ur ON ur.user_id = u.id
    WHERE
    ur.role_id = #{roleId}
  </select>

  <select id="findByRoleId" parameterType="Long" resultType="UserVo">
    SELECT
    u.id,
    u.account,
    u.pwd,
    u.name,
    u.create_id
    FROM
    USER u
    INNER JOIN user_role ur ON ur.user_id = u.id
    WHERE
    ur.role_id = #{roleId}
  </select>

  <select id="findAll" resultType="UserVo">
    SELECT
    <include refid="col"/>
    FROM
    user
  </select>

</mapper>
