<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.BaseMapper">

  <!-- 精确查询通用模板 -->
  <sql id="findExact">
    <if test="id != null">
      and id=#{id}
    </if>
    <if test="isDelete != null">
      and is_delete=#{isDelete}
    </if>
    <if test="createId != null">
      and create_id=#{createId}
    </if>
    <if test="createTime != null">
      and create_time=#{createTime}
    </if>
    <if test="updateId != null">
      and update_id=#{updateId}
    </if>
    <if test="updateTime != null">
      and update_time=#{updateTime}
    </if>
    <if test="version != null">
      and version=#{version}
    </if>
  </sql>

  <!-- 字段选择通用模板 -->
  <sql id="chooseField">
    <choose>
      <!-- 不查询，SE同时为null -->
      <when test="${alias} == null and ${alias}End == null"/>
      <!-- SE不同时为null。SE相等时，根据N是否为null或false决定==和!= -->
      <!-- ___(S=E)___ 等于-->
      <when test="${alias} == ${alias}End and (${alias}Not == null or ${alias}Not == false)">
        and ${field} = #{${alias}}
      </when>
      <!-- _xxx(S=E)xxx_(N) 不等 -->
      <when test="${alias} == ${alias}End and (${alias}Not != null or ${alias}Not == true)">
        and ${field} != #{${alias}}
      </when>
      <!-- SE有一个为null，N无效。根据SE是否为null<和> -->
      <!-- _xxx(E)___ 小于 -->
      <when test="${alias} == null">
        and ${field} &lt;= #{${alias}End}
      </when>
      <!-- ___(S)xxx_ 大于 -->
      <when test="${alias}End == null">
        and ${field} &gt;= #{${alias}}
      </when>
      <!-- SE既不同时为null也不相等。根据N是否为null或false决定between和not between -->
      <!-- ___(S)xxx(E)___ 在...与...之间 -->
      <when test="${alias}Not == null or ${alias}Not == false">
        and ${field} between #{${alias}} and #{${alias}End}
      </when>
      <!-- _xxx(S)___(E)xxx_(N) 不在...与...之间 -->
      <when test="${alias}Not != null or ${alias}Not == true">
        and ${field} not between #{${alias}} and #{${alias}End}
      </when>
    </choose>
  </sql>

  <!-- 查询通用模板 -->
  <sql id="find">
    <if test="id != null">
      and id=#{id}
    </if>
    <if test="isDelete != null">
      and is_delete=#{isDelete}
    </if>
    <if test="createId != null">
      and create_id=#{createId}
    </if>
    <if test="updateId != null">
      and update_id=#{updateId}
    </if>
    <include refid="com.demo.mapper.BaseMapper.chooseField">
      <property name="field" value="create_time"/>
      <property name="alias" value="createTime"/>
    </include>
    <include refid="com.demo.mapper.BaseMapper.chooseField">
      <property name="field" value="update_time"/>
      <property name="alias" value="updateTime"/>
    </include>
    <include refid="com.demo.mapper.BaseMapper.chooseField">
      <property name="field" value="version"/>
      <property name="alias" value="version"/>
    </include>
  </sql>

</mapper>