<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.LoginLogTestMapper">

  <sql id="col">
    id,ip,user_agent,ip_country,ip_province,ip_city,ua_os,ua_browser,ua_is_mobile,create_time
  </sql>

  <insert id="insert" parameterType="LoginLogTest">
    INSERT
    login_log_test(
    id,ip,user_agent,ip_country,ip_province,ip_city,ua_os,ua_browser,ua_is_mobile
    )VALUES(
    #{id},#{ip},#{userAgent},#{ipCountry},#{ipProvince},#{ipCity},#{uaOs},#{uaBrowser},#{uaIsMobile}
    )
  </insert>

</mapper>