<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.RoleApiMapper">

	<sql id="col">id,name,is_delete,create_id,create_time,update_id,update_time,version
	</sql>

	<insert id="insert" parameterType="RoleApiVo">
		INSERT
		role_api(
		id,name,create_id,update_id
		)VALUES(
		#{id},#{name},#{createId},#{createId}
		)
	</insert>

	<select id="existUniqueKey" parameterType="RoleApiVo"
		resultType="Boolean">
		SELECT
		IFNULL((SELECT true FROM role_api WHERE
		<if test="id != null">
			id=#{id}
		</if>
		<if test="name != null">
			name=#{name}
		</if>
		),false)
	</select>

	<select id="findByUniqueKey" parameterType="RoleApiVo"
		resultType="RoleApiVo">
		SELECT
		<include refid="col" />
		FROM
		role_api
		WHERE
		<if test="id != null">
			id=#{id}
		</if>
		<if test="name != null">
			name=#{name}
		</if>
	</select>

	<update id="updateById" parameterType="RoleApiVo">
		UPDATE role_api
		SET
		name=#{name},
		update_id=#{updateId},
		update_time=CURRENT_TIMESTAMP,
		version=version+1,
		WHERE
		id=#{id}
	</update>

	<update id="deleteById" parameterType="RoleApiVo">
		UPDATE role_api
		SET
		name=#{id},
		is_delete=1,
		update_id=#{updateId},
		update_time=CURRENT_TIMESTAMP,
		version=version+1,
		WHERE
		id=#{id}
	</update>

	<select id="findExact" parameterType="RoleApiVo"
		resultType="RoleApiVo">
		SELECT
		<include refid="col" />
		FROM
		user
		<where>
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="name != null">
				and name=#{name}
			</if>
			<if test="isDelete != null">
				and is_delete=#{isDelete}
			</if>
		</where>
	</select>

</mapper>