<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserLoginLogMapper">

	<sql id="col">id,ref_id,login_type,login_success,ip,user_agent,ip_country,ip_province,ip_city,ua_os_name,ua_browser_name,ua_device_type_name
	</sql>

	<insert id="insert" parameterType="UserLoginLog">
		INSERT
		user_login_log(
		<include refid="col"/>
		)VALUES(
		#{id},#{refId},#{loginType},#{loginSuccess},#{ip},#{userAgent},#{ipCountry},#{ipProvince},#{ipCity},#{uaOsName},#{uaBrowserName},#{uaDeviceTypeName}
		)
	</insert>

</mapper>